.content
  %h4= "Search results (#{@results.size + @results_people.size})"

  %p Here are the results of your search. We have separated out the results into people and statuses that matched your search. Tweasier finds users who you might be interested in by searching through tweets with the conditions you provided.

  - if @results_people.present?
    #results_follow
      - form_for(:search_results, :url => follow_app_user_account_search_results_path(@account), :html => { :id => "search_results_follow_form" }) do |form|
        = form.hidden_field :search_id, :value => @search.id
        = form.hidden_field :screen_names, :value => @results_people.collect { |r| r.screen_name }.join(",")
        %p= form.submit "Follow users from results", :class => "submit_blue"

.content
  %h5= "People (#{@results_people.size})"
- if @results_people.empty?
  .content
    %p No people found.
- else
  %ul#statuses= render :partial => "result_person", :collection => @results_people

.content
  %h5= "Statuses (#{@results.size})"
- if @results.empty?
  .content
    %p No statuses found.
- else
  %ul#statuses= render :partial => "result_status", :collection => @results