.profile
  %h3= "#{h(@person.name)} (#{h(@person.screen_name)})"
  = render :partial => "app/friendships/form", :locals => { :person => @person } unless @account.is_same_as(@person)

  .details
    - unless @person.location.blank?
      %p
        %strong Location
        %br
        = h @person.location

    - unless @person.description.blank?
      %p
        %strong Bio
        %br
        = auto_link @person.description

    - unless @person.url.blank?
      %p
        %strong URL
        %br
        = link_to @person.url, @person.url

.content
  %p.statistic
    %strong= @person.friends_count
    \...following

  %p.statistic
    %strong= @person.followers_count
    \...followers

  %p.statistic
    %strong= @person.statuses_count
    \...status updates

  %p.statistic
    %strong= @person.favourites_count
    \...favourites

  %p.statistic
    %strong= time_ago_in_words(@person.created_at).capitalize
    \...since Twitter registration

  %h3 Tweets
= render_list(:statuses, @statuses)

- render_tip