- sidebar do
  %p Show me statistics for:
  %ul
    %li= link_to "My account", app_user_account_statistics_account_path(@account)
    %li= link_to "Searches", app_user_account_statistics_searches_path(@account)
    %li= link_to "Followed people", app_user_account_statistics_followed_people_path(@account)
    %li= link_to "Unfollowed people", app_user_account_statistics_unfollowed_people_path(@account)
    %li= link_to "Links", app_user_account_statistics_links_path(@account)