.content
  %h3= "Account statistics for #{h(@person.name)} (#{h(@person.screen_name)})"
  
  %h4 Followers to following ratio
  = flash_chart app_user_account_statistics_account_path(@account, :format => :chart), :height => 500
  
  %p.statistic
    %strong= @person.friends_count
    \...following

  %p.statistic
    %strong= @person.followers_count
    \...followers

  %p.statistic
    %strong= @person.statuses_count
    \...status updates

  %p.statistic
    %strong= @person.favourites_count
    \...favourites

  - unless @person.location.blank?
    %p.statistic
      %strong= h @person.location
      \...from

  %p.statistic
    %strong= time_ago_in_words(@person.created_at).capitalize
    \...since Twitter registration

  %p.statistic
    %strong= time_ago_in_words(@account.created_at).capitalize
    \...since Tweasier registration

  - if @account.is_same_as(@person)
    #tweet_statistics
      - form_for(:stats, :url => app_user_account_statuses_path(@account), :html => { :id => "statistics_form" }) do
        = hidden_field_tag 'text', "I currently have #{pluralize(@person.followers_count, "follower")}, #{pluralize(@person.friends_count, "friend")} and #{pluralize(@person.statuses_count, "status update")} - via @#{Configuration.app.twitter_handle}."
        = submit_tag 'Tweet these stats', :class => "submit_blue"

= render :partial => "app/statistics/shared/sidebar"