%ul.follow_options
  %li
    - if person.following
      - form_tag app_user_account_friendship_path(@account, :id => person.screen_name), :method => :delete do
        = submit_tag 'Stop Following', :disable_with => 'Please Wait...'
    - else
      - form_tag app_user_account_friendships_path(@account) do
        = hidden_field_tag 'user', person.screen_name
        = submit_tag 'Follow', :disable_with => 'Please Wait...'
    %li= link_to "direct message", '#', :class => 'dm', :rel => h(person.screen_name), :title => "Direct Message #{h person.screen_name}"
    %li= render :partial => "app/spam_reports/form", :locals => { :person => person }