#header
  .inner
    = link_to content_tag(:span, Configuration.app.title), (signed_in? ? app_home_path : home_path), :id => "logo"
    
    #follow_us
      = link_to "Follow us on Twitter", Configuration.app.twitter_url
    
    #nav
      %ul
        - if within_application?
          %li= link_to "Sign out", sign_out_path
          %li= link_to "My Profile", app_home_path
          - if @account
            %li= link_to "Settings", edit_app_user_account_path(@account)
          - if @user and !@user.accounts.empty?
            %li= select_tag :account_selector, options_for_select(@user.accounts.collect { |a| [a.username] }.unshift(["-- select account --", ""]), (@account ? @account.username : nil))
          %li.last= link_to current_user.email, app_home_path
        - else
          - if signed_in?
            %li= link_to "Sign out", sign_out_path
            %li= link_to "Go to Tweasier", app_user_path
          - else
            %li= link_to "Sign up", sign_up_path, :class => selected_if?(nil, :users)
            %li= link_to "Sign in", sign_in_path, :class => selected_if?(nil, :sessions)
          %li= link_to "Blog", blog_path
          %li= link_to "About", about_path, :class => selected_if?(:about)
          %li= link_to "FAQ", faq_path, :class => selected_if?(:faq)
          %li= link_to "Plans", plans_path, :class => selected_if?(:plans)
          %li= link_to "Features", features_path, :class => selected_if?(:features)
          %li.last= link_to "Home", home_path, :class => selected_if?(:home)