.content
  %h3 Saved searches

  %p Saved searches groups of conditions to allow you to filter content on Twitter. You can create a search with a group of conditions such as location, topic and attitude to find the people most relevant to you.
  %p
    You currently have
    = pluralize(@searches.size, "search")
    and the bulk follower tool is
    %strong= @account.auto_follow? ? "active." : "inactive."
    = link_to "Click here", edit_app_user_account_path(@account)
    to change this.

  = render_list(:searches, @searches)

  %p.warning Please be aware that if you have the follower tool enabled that these are the rules that we will attempt to find you legitimate followers from, therefore they should be as de script as possible.
  
= render :partial => "sidebar"