.content
  %h3= @search.title

  = render_list(:search_conditions, @search.conditions)
  = render :partial => "app/search_conditions/new", :locals => { :account => @account, :search => @search }
  
  %p
    So far this search has gained you
    = link_to pluralize(@search.followed_people.count, "friend"), app_user_account_statistics_searches_path(@account)
    using the follower tool. See more information about the results of this search in the
    = link_to "statistics", app_user_account_statistics_searches_path(@account)
    section.
  
  - form_for(:search, :url => app_user_account_search_results_path(@account, @search), :html => { :id => "perform_search" }) do |form|
    = form.hidden_field :title, :value => @search.title, :id => "search_title"
    = form.submit "Perform this search", :class => "submit_blue"

#search_results

- sidebar do
  %ul
    %li
      = link_to "Clone this search", clone_app_user_account_search_path(@account, @search), :id => "clone_search"
      - form_for(:search, :url => clone_app_user_account_search_path(@account, @search), :html => {:id => "clone_search_form"}) do |form|
        = form.label "Clone name:"
        = form.text_field :title, :value => "#{@search.title} clone"
    %li= link_to "Edit this search", edit_app_user_account_search_path(@account, @search)
    %li= link_to "Remove this search", app_user_account_search_path(@account, @search), :method => :delete, :confirm => "Are you sure you want to remove this saved search?"