.content
  %h3 My Twitter accounts

  %p
    Hello
    = "#{@user.handle}."
    You currently have
    = pluralize(@user.accounts.size, "account")
    with
    = "#{Configuration.app.title}:"

  = render_list(:accounts, @user.accounts)
  - render_tip

= render :partial => "sidebar"