- authoring_user = status.user.blank? ? status.sender : status.user

%li.status{:id => "status_#{status.id}"}
  %ul.actions
    - if status.favorited
      %li= link_to content_tag(:span, "unfavourite"), app_user_account_favourite_path(@account, :id => status.id), :method => :delete, :class => "favourite", :title => "Unfavourite this tweet"
    - else
      %li= link_to content_tag(:span, "favourite"), app_user_account_favourites_path(@account, :id => status.id), :method => :post, :class => "favourite", :title => "Favourite this tweet"
    - unless @account.is_same_as(authoring_user)
      %li= render :partial => "app/retweets/form", :locals => { :status => status }
      %li= link_to content_tag(:span, "reply"), '#', :class => 'reply', :rel => h("#{authoring_user.screen_name}:#{h(authoring_user.id)}"), :title => "Reply to #{h authoring_user.screen_name}"
    %li= link_to_twitter_status(content_tag(:span, "permalink"), status.id, authoring_user.screen_name, :class => "permalink")
    - if @account.is_same_as(authoring_user)
      %li= link_to("remove", app_user_account_status_path(@account, status.id), :method => :delete, :confirm => "Are you sure you want to delete this tweet?")
    - unless status.in_reply_to_status_id.blank?
      %li= link_to "Original tweet", app_user_account_status_path(@account, status.in_reply_to_status_id)
  
  = link_to image_tag(authoring_user.profile_image_url), app_user_account_person_path(@account, authoring_user.screen_name), :class => 'profile_image'
  
  %ul.user_actions
    %li= link_to h(authoring_user.screen_name), app_user_account_person_path(@account, authoring_user.screen_name), :class => "screen_name"
    - if @controller.controller_name == "accounts" and @controller.action_name == "show" and !@account.is_same_as(authoring_user)
      %li= link_to content_tag(:span, "unfollow"), app_user_account_friendship_path(@account, authoring_user.screen_name, :return_to => request.request_uri), :method => :delete, :confirm => "Are you sure you want to unfollow #{authoring_user.screen_name}?", :class => "unfollow", :title => "Unfollow #{authoring_user.screen_name}"
    - unless @account.is_same_as(authoring_user)
      %li= link_to content_tag(:span, "direct message"), '#', :class => 'dm', :rel => h(authoring_user.screen_name), :title => "Direct Message #{h(authoring_user.screen_name)}"
  
  %br
  %br
  %p.text= format_status(status)
  
  .datetime
    - if status.geo
      = "#{link_to address_from_geolocation(status.geo), app_user_account_map_path(@account, "view", :lat => status.geo.coordinates[0], :long => status.geo.coordinates[1]), :rel => 'facybox'}, " if status.geo.coordinates
    = status.source
    on
    = link_to(pretty_datetime(status.created_at), app_user_account_status_path(@account, status.id))