.content
  %h3 Edit my account

  - form_for(:account, :url => app_user_account_path(@account), :html => { :method => :put }) do |form|
    %br
    %h4#notification_preferences Notification preferences
    %p
      = form.label :email_notifications
      = form.select :email_notifications, Configuration.options.email_notifications
      %br
      When would you like to hear the latest statistics on your account. We will send you a daily/weekly digest of information tailored to you. If you don't want any email notifications just choose "none".
  
    %br
    %h4#tool_preferences Tool preferences
    %p
      = form.label :bulk_follow
      = form.select :auto_follow, [["On", true], ["Off", false]]
      %br
      The bulk follow tool is enabled by default, however if you wish to disable it for whatever reason, change the above preference.

    %p
      = form.label :bulk_unfollow
      = form.select :auto_unfollow, [["On", true], ["Off", false]]
      %br
      The bulk unfollow tool if set to "On" allows you to prune people you follow. It will find anyone you have followed through Tweasier that has not followed you back (after a 
      = Configuration.unfollower.time_period
      day period) and automatically remove them. These people will also be removed from any future searches on that account to avoid any user annoyance.
      %em Please note that the unfollow tool will only prune users followed using the Tweasier bulk follow feature. People you have followed outside of Tweasier will not be touched.
  
    %br
    %h4#geolocation_preferences Geotagging
    %p
      You can use Tweasier to take advantage of Twitter's
      = link_to "geotagging abilities", "http://twitter.zendesk.com/forums/26810/entries/78525"
      by providing your current location here. To use this feature you must have geotagging enabled. To check this visit your
      = link_to "account settings", Configuration.twitter.settings_url
      page and ensure the &quot;Enable geotagging&quot; is checked. 
    %p
      Please enter your current location:
      %br
      = text_field_tag "account[location[query]]", (@account.location? ? @account.location[:query] : nil), :class => "wide"
      %br
      %span.hint E.g &quot;Briggate, Leeds, UK&quot; or &quot;23 Briggate, Leeds, LS1 2RU, UK&quot;
    
  
    - if @account.location and @account.location[:address]
      %p
        We currently have your account located in
        %strong= @account.location[:city]
        and geotagging is
        %strong= @account.geotagging_available? ? "on." : "off."
        To remove geotagging simply clear the address in the above field and submit the form.
    
      = render_map @account.location[:lat], @account.location[:long]

    - else
      %p We don't currently have a location saved for your account.
  
    %br
    %br
    %h4#bitly_preferences Bitly integration
    %p
      You can integrate a
      = link_to "Bit.ly", Configuration.bitly.home_url
      account with
      = Configuration.app.title
      by providing us with your username and API token. If you don't have a Bit.ly account don't worry it's easy as you can
      = "#{link_to "sign up for free", Configuration.bitly.signup_url}."
      It takes about 10 seconds and once you have signed up you find your API token by clicking on the account link at the top right hand corner of
      = "#{link_to "this page", Configuration.bitly.home_url}."
      For security purposes we recommend you refresh your API key every now and then.
    
      %p
        = form.label :bitly_username
        %br
        = form.text_field :bitly_token
      
      %p
        = form.label :bitly_api_key
        %br
        = form.password_field :bitly_secret
  
    %p= form.submit "Save my preferences", :disable_with => "Saving...", :class => "submit_blue"

    %br

  %h4#remove_account Remove account
  %p
    If you wish to remove this account from Tweasier you can do so by clicking the button below. Please note that this
    %strong cannot be undone.
    
  - form_for(@account, :url => app_user_account_path(@account), :html => { :method => :delete, :onsubmit => "return confirm('Are you sure you want to remove this account from Tweasier? This cannot be undone!')" }) do |form|
    = form.submit "Remove #{@account.screen_name}", :disable_with => "Removing...", :class => "submit_red"

- render_tip :email_notifications