!!! Strict
!!! XML
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= Configuration.app.title
    = yield_javascript_vars
    = shared "meta"
    = yield :head
  %body
    #loader
      %h4 Talking to Twitter...
      = image_tag("global/spinner-large.gif")
  
    = shared "maintenance", :namespace => "app"
    = shared "header"
    = shared "spotlight" if controller_is?(:home)
    
    #content
      = shared "flash", :flash => flash
      - if within_application?
        .inner.application
          #wrapper{:class => "#{"account_content" if @account}"}
            = render :partial => "app/statuses/form" if @account
            = yield :layout
            %br.clear
          = shared "sidebar", :namespace => :app if signed_in?
          %br.clear
          %br.clear
      - else
        .inner
          %br.clear
          = yield :layout
          %br.clear
          %br.clear
    = shared "footer"